@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

body {
    color: white;
    background-color: black;
    font-family: Cormorant Garamond, serif;
}

h1 {
    text-align: center;
    margin: auto;
    font-size: 40px;
    text-shadow: 0 0 8px darkblue, 0 0 3px black;
}

h2 {
    text-align: center;
    margin: 0;
}

.parallax-layer {
    background-image: url(../images/main_background_image.jpg);
    position: fixed;
    background-size: cover;
    background-position: center;
    top: -5%;
    left: -5%;
    width: 120%;
    height: 120%;
    object-fit: cover;
    z-index: -10;
}

a:active,
a:hover,  
a {
    text-decoration: none;
    color: white;
}

#goToAdmin {
    font-size: 32px;
    position: fixed;
    bottom: 24px;
    right: 24px;
}